
<div class="main-content">
  <div class="header-content">
    <div class="emp-detail-text"> Employee Details </div>
	<div class="emp-count">{{employee.length}}</div>
  
    <button class="add-button" (click)="onAddUser()"><img src="./assets/add.svg" alt=""/>Add</button>
	</div>

	<div class="table-main">
	 <table id="table-display" class="table">
		 
		 <tr>
			    <th>Profile Pic</th>
				<th>Id</th>
				<th>Name</th>
				<th>Salary</th>
				<th>Gender</th>
				<th>Joining Date</th>
				<th>Notes</th>
				<th>Department</th>
				<th>Actions</th>
		 </tr>

		  <!-- Displaying employee Data On Dashboard... -->
		  <tr *ngFor="let emp of employee" class="detailoftab">
			<td><img [src]="emp.profilePic" alt="profile" class=""></td>
			<td>{{emp.employeeID}}</td>
			<td>{{emp.name}}</td>
			<td>{{emp.salary}}</td>
			<td>{{emp.gender}}</td>
			<td>{{emp.joiningdate}}</td>
			<td>{{emp.note}}</td>
			<td>{{emp.department}}</td>
		    <td>
			    <img src="./assets/create.svg" (click)="updateEmployee(emp.employeeID)">
		
				<img src="./assets/delete.svg" (click)="deleteEmployee(emp.employeeID)">
			</td> 

		</tr> 
	 </table>
	</div>
</div>

